body {
  background: #1c1c1c;
  color: #999999; }

table {
  margin-bottom: 0; }
  table td {
    vertical-align: middle;
    padding: 1em; }
  table td.blinds, table td.timer {
    vertical-align: center;
    padding: 0 1em; }
    table td.blinds h2, table td.timer h2 {
      margin: 0; }

#current_blinds, #current_time {
  font-size: 10em; }

#chip1 {
  text-align: center;
  height: 2em;
  border-radius: 1em;
  width: 2em;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-size: 5em;
  color: black;
  font-family: Lobster;
  background-color: #cc0066; }

#chip2 {
  text-align: center;
  height: 2em;
  border-radius: 1em;
  width: 2em;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-size: 5em;
  color: black;
  font-family: Lobster;
  background-color: #00cc66; }

#chip3 {
  text-align: center;
  height: 2em;
  border-radius: 1em;
  width: 2em;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-size: 5em;
  color: black;
  font-family: Lobster;
  background-color: black;
  color: white; }

#chip4 {
  text-align: center;
  height: 2em;
  border-radius: 1em;
  width: 2em;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-size: 5em;
  color: black;
  font-family: Lobster;
  background-color: #0066cc; }

#paused, #begin {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 14%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px; }
